<!DOCTYPE html>
<html>
  <head>
    <title>Zorp Intergalactic</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/about.css">
  </head>
  <body>
    <nav>
      <h1 class="nav--title">
        Zorp Intergalactic
      </h1>
      <a href="/" class="nav--link">Stars</a>
    </nav>
    
    <div class="main">
      <span>
        Zorp Intergalactic is a project by <a href="https://twitter.com/msarchet">@msarchet</a>. An embracement of the randomness of the Universe.
      </span>
      <span class="large centered">Stay tuned fellow travelers.</span>
    </div>
  </body>
</html>
